*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    
}

.container-card {
    height: 90vh;
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}

.col-card {
  display: flex;

  height: 600px;
  flex-wrap: wrap;
 
}

.row-card{
    padding: 2rem 2.5rem;
   width: 350px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
  

   
}
.row-card h3{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    font-size: 3rem;
}

.par {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
}




.col-card >*:nth-child(1) {padding: 20px 30px;
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
   
}
.col-card >*:nth-child(2)  {
   background-color:  hsl(184, 100%, 22%);
 
}
.col-card >*:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  
}

.btn {
    padding: 20px 30px;
    width: 12rem;
    border-radius: 50px;
    background-color: hsl(0, 0%, 95%);
    border: 2px solid  hsl(0, 0%, 95%);


}

.sedans {
    color: hsl(31, 77%, 52%);
}

.suvs {
    color: hsl(184, 100%, 22%);
}

.luxury {
    color: hsl(179, 100%, 13%);
}

.btn:hover {
    border: 2px solid  hsl(0, 0%, 95%);
    background-color: transparent;
    color: white;
}


 @media  (max-width: 375px){
    .container {
        height: 150vh;
    }

    .col-card >*:nth-child(1) {
        border-radius: 0;
    } 
    .col-card >*:nth-child(3) {
        border-radius: 0;
    }

    .attribution {
        display: none;
    }
    
} 
    
